.footer {
    
    color:white;
    font-size: 20px;
    font-family:Arial;
    font-weight: bold;
    background-color: grey;
    width:1280px;
    position:absolute;
    bottom:0;
    left: 0;
    text-align: center;
   
}