 
.header {

    color: white;
    font-size: 30px;
    font-family: Courier;
    font-weight: 300;
    background-color: rgb(58, 55, 55);
  
}

span {
    font-size: 20px;
    margin:50px;
    position:relative;
    left:120px;
    font-weight: 200;
}

a {
    text-decoration:none;
    color:white;
}